<h1><%= "#" + "#{@tag.name}" %></h1>
<h3>Pictures</h3>
<ul>
    <% @tag.pictures.each do |picture| %>
        <%= link_to picture_path(picture) do %>
          <img src= "<%= picture.image_url %>" width = "250" height = "250">
        <% end %>
    <% end %>
</ul>
